<clr-wizard #wizard
  (clrWizardOnFinish)="doFinish()"
  (clrWizardOnCancel)="onCloseHandler()"
  [(clrWizardOpen)]="isOpen">
    <clr-wizard-title>Create a new route</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!stepOneReady">
        <ng-template clrPageTitle>Strava ID</ng-template>
        <form [formGroup]="stepOneForm" clrForm>
            <clr-input-container>
                <label class="clr-col-12 clr-col-md-2">Link to route</label>
                <input class="clr-col-12 clr-col-md-10 full-width"
                required clrInput type="text" formControlName="stravaLink"/>
            </clr-input-container>
            <button [disabled]="!stepOneForm.valid" class="btn btn-primary check-btn" type="submit" (click)="stepOneSubmit()">
              Check
            </button>
            <span [hidden]="!(stepOneSubmitted && !stepOneReady)" class="spinner spinner-md">
                Loading...
            </span>

            <div *ngIf="routeInfo" class="routeInfo">
              <span *ngIf="routeInfo.info" class="p2">Title:</span>&nbsp;<span class="p3">{{ routeInfo.info.name }}</span>
            </div>

            <div [hidden]="!stepOneReady" class="map"></div>

        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Name and description</ng-template>
        <form [formGroup]="stepTwoForm" clrForm>
          <clr-input-container>
              <label class="clr-col-12 clr-col-md-2">Title</label>
              <input class="clr-col-12 clr-col-md-10" required clrInput type="text" formControlName="title"/>
          </clr-input-container>
          <clr-textarea-container>
              <label class="clr-col-12 clr-col-md-2">Description</label>
              <textarea clrTextarea formControlName="description"></textarea>
          </clr-textarea-container>
        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Preview</ng-template>

    </clr-wizard-page>
</clr-wizard>
