<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div *ngIf="!authCode" class="card">
            <div class="card-header">
                Login page
            </div>
            <div class="card-block">
                <div class="card-text">
                    This application requires Strava login. You will be redirected and then returned back
                </div>
            </div>
            <div class="card-footer">
                <button (click)="login()" class="btn btn-sm">Log me in!</button>
            </div>
        </div>
        <div *ngIf="authCode" class="card">
          <div class="card-header">
              Login page
          </div>
          <div class="card-block">
              <div class="card-text">
                  You are now logged in, thanks
              </div>
          </div>
        </div>
    </div>
</div>
