<h1>Comments</h1>
<div class="comment" *ngFor="let comment of commentsList">
  <app-comment [comment]="comment"></app-comment>
</div>

<form [formGroup]="addCommentForm" clrForm>
  <clr-textarea-container>
      <label class="clr-col-12 clr-col-md-2">Add comment</label>
      <textarea required clrTextarea formControlName="comment"></textarea>
  </clr-textarea-container>

  <button [disabled]="!addCommentForm.valid"
    class="btn btn-primary" type="submit" (click)="addComment()">
    send
  </button>
</form>
