<div class="branding">
       <a href="javascript://" class="nav-link">
           <clr-icon shape="circle"></clr-icon>
           <span class="title">s_route app</span>
       </a>
 </div>
 <div class="header-nav">
   <a *ngIf="currentUser" (click)="emitCreateEvt()" class="nav-link nav-icon-text"><clr-icon shape="bolt"></clr-icon>
      <span class="nav-text">
        Create a route
      </span>
  </a>
 </div>
 <div class="header-actions">
   <clr-icon (click)="logout()" shape="logout"></clr-icon>
 </div>
 <div *ngIf="currentUser" class="header-actions">
     <a class="nav-link nav-icon-text">
         <span class="nav-text">
           {{ currentUser.firstname }} {{ currentUser.lastname }}
         </span>
     </a>
     <div class="user-ava">
       <img *ngIf="currentUser.profile_medium" [src]="currentUser.profile_medium">
     </div>
 </div>
